# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build

# Logs
*.log
logs

# Environment variables
.env
.env.*
!.env.example

# IDE
.vscode
.idea

# Testing
coverage

# Misc
.DS_Store
*.pem
